@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.playlist__library {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hright__title {
	font-size: 40px;
}

.library__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: s.space(4);
}

.playlist__list-card {
	display: grid;
	grid-template-columns:  repeat(2, 1fr);
	gap: s.space(4);
	justify-content: space-between;
}

.playlist__card {
	display: flex;
	flex-direction: column;
	gap: s.space(4);
	margin: s.space(5);
}