@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10);
	
}

.purchase-edit__block {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: s.space(5);
	padding: s.space(5);
	border: 1px solid s.color(border);
	border-radius: 10px;
}

.purchase-item__block-id {
	display: flex;
	flex-direction: column;
	gap: s.space(3);
}

.purchase-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: s.space(3);
}

.purchase__filed {
	display: flex;
	flex-direction: column;
	gap: s.space(2);
}

.form__label {
	font-size: 14px;
	
}
.form__input {
	border: 1px solid s.color('light');
	padding: s.space(2);
}



