@use '../../lib/service.scss' as s;

.form {
	display: flex;
	flex-direction: column;
	padding: s.space(4);
	gap: s.space(4);

	&__title {
		font-size: 24px;
		font-weight: bold;
		padding-bottom: s.space(1);
		color: blue;
	}

	&__product {
		display: grid;
		padding: s.space(4);
		gap: s.space(6);
		border: 1px solid s.color('light');
	}

	&__info {
		font-size: 18px;
		
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: s.space(2);

	}

	&__filed {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
	}

	&__label {
		font-size: 14px;
	}

	&__input {
		border: 1px solid s.color('light');
		padding: s.space(2);
	}

	&__description {
		width: 700px;
	}

	&__text {
		font-size: 12px;
		color: gray;
	}

	&__button {
		border: 1px solid s.color('light');
		background-color: blue;
		color: white;
		padding: s.space(2);
		border-radius: 4px;
	}
}

main {
	display: flex;
	padding: s.space(10);
	flex-direction: column;
	gap: s.space(10);
}

.user-list {
	li {
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}